$mm: "mm", sans-serif;
$rb: "rb", sans-serif;
$rm: "rm", sans-serif;
$rr: "rr", sans-serif;

$gray-text: #b7c3c8;
$text: #263238;
$blue-light: #5f7be2;
$blue: #234de6;
$orange: #ffa726;
$green: #14bf1e;
$selection: #234de681;
