$rb: 'rb', sans-serif;
$rl: 'rl', sans-serif;
$rm: 'rm', sans-serif;
$rr: 'rr', sans-serif;
$rt: 'rt', sans-serif;

$light-blue: #19b5fe;
$light-blue-bg: #f5f9fa;
$black-bg: #24241f;
$black-text-title: #363636;
$black-text-message: #3f3f3f;
$black-text: #464646;
