@import "../../node_modules/normalize.css/normalize";
@import "../fonts/icons/style.css";
@import "../../node_modules/glider-js/glider";
@import "fonts";
@import "vars";
@import "libs";
@import "global";

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

.container-fluid {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 30px;
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

//=====================
//      Header
//=====================

.header {
  color: #ffffff;
  font-family: $rm;
}

.header_top-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #808e9a;
}

.header-items {
  display: flex;
  text-align: right;
  justify-content: space-between;
  align-items: center;
}

.header_nav-item {
  color: $gray-text;
  transition: 0.3s;
}

.header_nav-item:hover {
  color: #ffffff;
}

.header_nav {
  font-family: $rb;
  font-weight: bold;
}

.header_elements-wrapper {
  display: flex;
  align-items: stretch;
  height: 40px;
}

.header_phone-number {
  text-align: center;
  font-family: $rm;
  font-size: 15px;
  min-width: 200px;
  padding-right: 7px;
  padding-top: 11px;
  border-left: 1px solid #808e9a;
  width: 100%;
  & i {
    padding-right: 11px;
  }
}

.header_elements {
  display: flex;
  align-items: center;
  min-width: 300spx;
  width: 100%;
  padding-left: 19px;
  border-left: 1px solid #808e9a;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 500px;
  width: 100%;
  padding-left: 30px;
}

.default_header-element {
  position: relative;
  height: 35px;
  width: 35px;
  color: #a0a0a0;
  background-color: #f5f5f5;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  & i {
    position: relative;
    top: 30%;
  }
}

.default_header-element.bage::after {
  content: "8";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: $blue;
  color: #ffffff;
  top: -5px;
  right: -5px;
  border-radius: 50%;
}

.header_btn {
  padding: 12px 15px;
  border-radius: 5px;
  &.login {
    background-color: $blue;
    margin-left: 24px;
  }
  &.register {
    background-color: $green;
    margin-left: 7px;
  }
}

.search {
  padding-top: 300px;
  text-align: center;
}

.search_title {
  font: 48px/30px $rb;
  margin-bottom: 31px;
}

.search_text {
  margin-bottom: 35px;
  font: 20px/30px $rm;
}

.search_input {
  padding: 24px 26px;
  border-radius: 6px;
  width: 100%;
}

.search_input-wrapper {
  max-width: 670px;
  margin-bottom: 270px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.search_btn {
  color: #78909c;
  position: absolute;
  font-size: 25px;
  top: 20px;
  right: 20px;
  transition: color 0.3scom;
}

.search_btn:hover {
  color: #252e33;
}

//=====================
//      Products
//=====================

section {
  padding-bottom: 112px;
}

.products {
  background-color: #f4f6f5;
}

.default_title {
  padding-top: 101px;
  padding-bottom: 66px;
  text-align: center;
  font: 36px/40px $rb;
  color: $text;
}

.products_category-btns {
  text-align: center;
  margin: 0 auto 50px auto;
}

.category_btn {
  padding: 18px 20px;
  background-color: #fff;
  transition: 0.3s;
}

.category_btn + .category_btn {
  margin-left: 6px;
}

.category_btn.active {
  background-color: $blue;
  color: #ffffff;
}

.category_btn:hover {
  background-color: $blue-light;
  color: #ffffff;
}

.category_btn.active:hover {
  background-color: $blue;
  color: #ffffff;
}

.products_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1888px;
  width: 100%;
  margin-bottom: 79px;
}

.product_item {
  display: inline-block;
  position: relative;
  max-width: 440px;
  width: 100%;
  background-color: #fff;
  margin: 15px;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  transition: box-shadow 0.3s;
}

.product_item:hover {
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}

.product_item.new::before {
  content: "";
  background-image: url(../img/product_item_bage.webp);
  position: absolute;
  width: 63px;
  height: 64px;
  top: 0;
  left: 0;
}

.product_item-img {
  object-fit: cover;
  width: 100%;
}

.product_info {
  padding: 27px 35px 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7ecf2;
}

.product_item-title {
  font: 18px/20px $rm;
  padding-bottom: 6px;
  padding-right: 15px;
}

.product_item-text {
  color: $blue;
}

.product_item-price {
  font: 20px $rb;
}

.product_author-wrapper {
  padding: 27px 35px 18px 30px;
  display: flex;
  justify-content: space-between;
  color: #546e7a;
}

.product_author {
  display: flex;
  align-items: center;
}

.product_author-name {
  margin-left: 15px;
  font: 14px $rm;
}

.product_author-rating {
  display: flex;
  align-items: center;
}

.product_author-rating-stars {
  min-width: 96px;
  width: 100%;
}

.rating_star {
  color: $orange;
}

.rating_count-wrapper {
  color: #b0bec5;
  margin-left: 13px;
}

.rating_count {
  color: $text;
  font: 12px $rr;
}

.products_additional-categories {
  margin: 0 auto;
  text-align: center;
}

.category_btn--big {
  font: 16px $rr;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
  transition: 0.3s;
}

.category_btn--big:hover {
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
  background-color: $blue-light;
  color: #fff;
}

.category_btn--big.active:hover,
.category_btn--big.active {
  background-color: $blue;
  color: #fff;
}

.category_btn--big + .category_btn--big {
  margin-left: 10px;
}

//=====================
//     Popular
//=====================

.popular {
  background-color: #fff;
}

.popular_slider {
  max-width: 1888px;
  width: 100%;
}

.popular .product_item {
  max-width: 100%;
  margin: 0px;

  &:hover {
    box-shadow: 0px 5px 5px 0px rgba(216, 216, 216, 0.75);
  }
}

.product_item-wrapper {
  margin: 15px;
}

.popular_slider-content {
  margin-bottom: 45px;
}

.glider-dot {
  background-color: #e8e8e8;
  box-shadow: inset 0px 1px 1px rgba(151, 160, 165, 0.75);
}

.glider-dot.active {
  background-color: $blue;
  box-shadow: none;
}

//=====================
//      Benefits
//=====================

.benefits {
  padding-bottom: 119px;
  background-color: $blue-dark;
}

.benefits_title {
  color: #fff;
}

.benefits_items {
  display: flex;
  justify-content: space-around;
}

.benefits_item {
  text-align: center;
  color: #fff;
}

.benefits_item + .benefits_item {
  margin-left: 90px;
}
.benefits_item:hover {
  color: #fff;
  & .benefits_item-title {
    color: $blue;
    transition: 0.5s;
  }

  & .benefits_item-img {
    background-color: $blue;
    color: #fff;
    transition: 0.5s;
  }
}

.benefits_item-img {
  margin: 0 auto;
  height: 114px;
  width: 114px;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  font-size: 70px;
  line-height: 130px;
}

.benefits_item-title {
  margin-top: 36px;
  margin-bottom: 25px;
  font: 24px $rm;
}

.benefits_item-text {
  font: 15px/24px $rr;
  color: $gray-text;
}

//=====================
//      Team
//=====================

@import "media";
